section{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 1em auto;
}

.new-tweet textarea{
    display: flex;
    width: 90vw;
    background-color: transparent;
    border: none;
    resize: none;
    border-bottom: medium solid black;
}

.tweet-footer{
    display: flex;
    font-family: "Bungee", sans-serif;
    justify-content: space-between;
    padding-top: 10px;
}

.tweet-footer button{
    background-color: rgb(31, 164, 241);
    color: white;
    padding: 0 0.5rem;
    text-transform: uppercase;
    border: none;
}

.posted-tweet{
    display:flex;
    border: medium solid black;
    padding: 0.2em;
}

.posted-tweet header{
    display: flex;
    justify-content: space-between;
}

.posted-tweet div{
    border-bottom: medium solid black;
    padding: 1em 0.25em;
}

.posted-tweet footer{
    display: flex;
    font-size: medium;
    justify-content: space-between;
    padding: 0.25em;
}