section {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0.5em auto;
}

.new-tweet textarea {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;
  border-bottom: medium solid black;
}

.tweet-footer {
  display: flex;
  font-family: "Bungee", sans-serif;
  justify-content: space-between;
  padding-top: 10px;
}

.tweet-footer button {
  background-color: #4056a1;
  color: white;
  padding: 0 0.5rem;
  text-transform: uppercase;
  border: none;
}

.posted-tweet {
  display: flex;
  flex-direction: column;
  border: medium solid black;
  padding: 0.2em;
  margin: 0.5em 0;
}

.posted-tweet:hover {
  box-shadow: 5px 5px 3px rgb(163, 162, 162);
}

.posted-tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0;
}

.posted-tweet header span {
  display: flex;
  align-items: center;
}

.avatar {
  padding-right: 0.5em;
}

.tweetedText {
  overflow-wrap: break-word;
  border-bottom: medium solid black;
  padding: 1em 0.25em;
}

.posted-tweet footer {
  display: flex;
  font-size: medium;
  justify-content: space-between;
  padding: 0.25em;
  color: #4056a1;
}

.posted-tweet footer i:hover {
  color: #b4a307;
}

#error-messages {
  display: none;
  color: #cc0033;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
}

#tweets-container {
  display: none;
}
